@import 'tailwindcss';

/*Make custom color classes for text-drac-pink etc.*/
@import '../src/theme/colors/customColorClasses.css';
/*Adjust custom font stuff in this file*/
@import '../src/theme/fonts/customFonts.css';
/*For using Flowbite-svelte*/
@import '../src/theme/flowbite-svelte.css';
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

/*

Misc

*/

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

body {
	background: radial-gradient(
		circle at 50% 100%,
		/* Position gradient center at bottom (100%) and center (50%) */
			rgba(12, 0, 32, 1) 93%,

		#f8f8f2 95%,
		/* End color: #0c0020 */ black 100% /* End color: #0c0020 */
	);
	background-attachment: fixed; /* Optional: Fix gradient relative to viewport */
	background-repeat: no-repeat; /* Prevent repeating */
	min-height: 100vh; /* Ensure gradient covers full viewport height */
	user-select: none;
}
